
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}


#menu {
    background-color: rgb(50, 206, 120);
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 20px 30px;
}

#menu li {
    display: inline;
    margin: 0;
}

#menu li a {
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: rgb(17, 105, 51);
    color: white;
}

#menu li a {
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    text-decoration: none;
    display: inline-block; 
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

#menu li a:hover {
    background-color: rgb(17, 105, 51);
    color: white;
    transform: scale(1.15);
}


img {
    margin: 16px 16px 16px 16px;
}



@media screen and (max-width: 747px) {
    #menu ul {
        padding: 0;
    }

    #menu ul li {
        margin-right: -3px;
        display: inline-block;
        text-align: center;
        width: 33%;
    }

    #menu li a {
        display: list-item;
    }
}


@media screen and (max-width: 480px) {
    #menu ul li {
        width: 100%;
    }
}

